/*Style service container*/
.service__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

/*Style articles of class service*/
.service {
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}

/*Add hover effect to service*/
.service:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

/*Style service__head*/
.service__head {
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

/*Style h3 tag inside service__head*/
.service__head h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

/*Style service__list*/
.service__list {
    padding: 2rem;
}

/*Style li inside service__list*/
.service__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}