/*Style whole header component*/
header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

/*Style header__container class*/
.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}