/*Style experience__container*/
.experience__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

/*Style the direct divs inside experience__container*/
.experience__container > div {
    background: var(--color-bg-variant);
    padding: 2.rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;

}

/*Add hover effect to cards*/
.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}