/*Style experience__container*/
.experience__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

/*Style the direct divs inside experience__container*/
.experience__container > div {
    background: var(--color-bg-variant);
    padding: 2rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

/*Add hover effect to cards*/
.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

/*Style h3 headings*/
.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

/*Style experience__content*/
.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

/*Style articles*/
.experience_details {
    display: flex;
    gap: 1rem;
}